* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

div {
  overflow: auto;
}

.header {
  position: fixed;
  height: 10vh;
  width: 100%;
  background-color: orange;
  box-shadow: 0px 2px 10px #000;
}

div.title {
  background-color: lightblue;
  height: 100vh;
  margin: 0px;
  overflow: initial;
}

h1 {
  font-size: 4em;
  font-style: normal;
  font-weight: 900;
  font-family: 'Inter', sans-serif;
  color: orange;
  text-align: center;
  text-shadow: white 7px 2px 5px;
  margin: 0;
  padding-top: 50vh;
}

.article h2 {
  font-family: 'Inter',sans-serif;
  margin: 0;
  padding: 10px;
  font-size: 3em;
  text-shadow: black 0px 1px 1px;
}

.article {
  padding: 25px;
  margin: 150px 20vw;
  background-color: #eee;
  text-align: center;
  box-shadow: 0px 2px 10px #000;
}

.article p {
  font-family: Inter, sans-serif;
  font-size: 1.10em;
  text-shadow: black 0px 1px 1px;
  word-spacing: .4em;
  letter-spacing: -.04em;
  line-height: 1.4em;
  text-align: justify;
  padding: 0;
  margin: 0;
}

.article img {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 10px;
  border: dashed gray 2px;
  padding: .5em;
  font-size: 300px;
}



@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
}

  h1 {
  font-size: 2em;
  padding-top: 40vh;
}

  .article h2 {
    font-size: 2em;
  }
  .article {
    padding: 10px;
    margin: 10px 0;
    width: 100vw;
    text-align: center;
  }
  .article img {
    float: none;
    display: inline-block;
  }

  .article p {
    margin: 10px 15px;
    font-size: 1.5em;
    word-spacing: normal;
  }

}